.center {
  text-align: center;

  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;

  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;

  user-select: none;
}

.dark .info {
  background: rgba(0, 0, 0, 0.271);
  color: #fff;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
  text-align: center;
}

.select-info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;

  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;

  user-select: none;
}

.dark .select-info {
  background: rgba(0, 0, 0, 0.271);
  color: #fff;
}

.select-info h4 {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  color: #777;
  text-align: center;
}

.input-select {
  width: 100%;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;

  border: 1px solid #ccc;
  border-radius: 5px;

  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.129);

  user-select: none;
}

.dark .input-select {
  background: rgba(0, 0, 0, 0.915);
  color: #fff;
}

/* Leaflets Control */

.dark .leaflet-popup-content-wrapper, .dark .leaflet-popup-tip {
  background: rgba(0, 0, 0, 0.271);
  color: #fff;
}

.leaflet-control-layers-expanded {
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.129);

  border: 1px solid #ccc;
  border-radius: 5px;
}

.dark .leaflet-control-layers-expanded {
  background: rgba(0, 0, 0, 0.271);
  color: #fff;
}

.leaflet-sidebar > .leaflet-control {
  background: white;
  background: rgba(255, 255, 255, 0.537);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.129);
  backdrop-filter: blur(5px);

  border: 0.5px solid #ccc;
  border-radius: 5px;
}

.leaflet-sidebar > .leaflet-control::-webkit-scrollbar {
  width: 0.5em;
  background-color: #ccc;
}

.leaflet-sidebar > .leaflet-control::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: black;
}

.dark .leaflet-control::-webkit-scrollbar {
  width: 0.5em;
  background-color: black;
}

.dark .leaflet-control::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #ccc;
}


.dark .leaflet-sidebar > .leaflet-control {
  background: rgba(0, 0, 0, 0.368);
  color: #fff;
}

.dark .leaflet-control-attribution {
  background: rgba(0, 0, 0, 0.271);
  color: #fff;
}

.dark .leaflet-control-zoom-in, .dark .leaflet-control-zoom-out {
  background: rgba(0, 0, 0, 0.271) !important;
  color: #fff !important;
}

.close {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent !important;
}

.dark .close {
  color: #fff;
}

.close:hover {
  cursor: pointer;
  color: rgb(115, 115, 160);
}

@media (max-width: 768px) {
  .dark .leaflet-sidebar > .leaflet-control {
    background: rgba(0, 0, 0, 0.838);
    color: #fff;
  }

  .leaflet-sidebar > .leaflet-control {
    background: rgba(255, 255, 255, 0.733);
    border-radius: 0px;
  }
}
