.images-popup {
  width: 100%;
  height: auto;

  border-radius: 5px;

  margin: 0;
  padding: 0;
}

.videos-popup {
  width: 100%;
  height: auto;

  border-radius: 5px;

  margin: 0;
  padding: 0;
}

.title-popup {
  width: 100%;
  padding: 5px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;

  background: rgba(162, 160, 160, 0.108);
  color:rgba(0, 0, 0, 0.689);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.129);

  text-align: center;

  margin: 0;
  margin-top: 25px;
}

.dark .title-popup {
  color: #fff;
}

.content-popup-delimits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-popup-delimits p {
  display: block;
  max-width: 75ch;

  margin: 15px 0;
  padding: 0;

  font-size: 1rem;
  text-align: justify;
}

.content-popup-delimits h4 {
  display: block;
  width: 100%;
  text-align: center;

  font-size: 1.4rem;
  text-decoration:underline;
  text-decoration-color: #2472b783;
  border-bottom: 1px solid rgba(18, 126, 152, 0.415);
}

.content-popup-delimits .copyright {
  display: block;

  margin: 1rem 0;

  font-size: 0.9rem;
  font-weight: bold;
  font-style: italic;
}

.content-popup-delimits .info-ul {
  margin-top: 10px;
  margin-bottom: 10px;
}

.content-popup-delimits .info-ul li {
  font-size: 1rem;
  margin: 0.5rem 0;
}

/* Acordeon */

.row {
  display: flex;
}
.row .col {
  flex: 1;
}
.row .col:last-child {
  margin-left: 1em;
}

/* Accordion styles */
.accordion {
  width: 100%;
  margin: 15px 0;
  padding: 0;
}

.accordion input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.accordion .tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.accordion .tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.accordion .tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #2c3e50;
  font-weight: bold;
  cursor: pointer;
 /* Icon */
}

.accordion .tab-label:hover {
  background: #1a252f;
}

.accordion .tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}

.accordion .tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #000;
  background: white;
  text-align: center;
  transition: all 0.35s;
}

.dark .accordion .tab-content {
  background: #00000030;
  color: #fff;
}

.accordion .tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
  user-select: none;
}
.accordion .tab-close:hover {
  background: #1a252f;
}
.accordion input:checked + .tab-label {
  background: #1a252f;
}
.accordion input:checked + .tab-label::after {
  transform: rotate(90deg);
}
.accordion input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

/* Slider */

.slider {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.slider img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.slider label {
	transition: transform 400ms ease-out;
	display: inline-block;
	width: 100%;
	height: 100%;
	z-index: 1;
	text-align: center;
}

.slider .content-slider {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	white-space: nowrap;
}

.slider input {
	position: absolute;
  opacity: 0;
}

.slider label {
	background-size: cover;
	font-size: 3rem;
}

@media (max-width: 768px) {
  .title-popup {
    margin-top: 35px;
  }
}
