* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body, html {
  height: 100%;
  width: 100%;

  font-size: 14px;
}

body {
  background-color: #bfe5ee16;
}

a {
  text-decoration: none;
}
