.button {
  height: 4rem;
  padding: 0 4rem;

  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;

  background-color: #64b9ce;

  color: black;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 2rem;
}

.button:hover {
  background: #2193b0;
  background: -webkit-linear-gradient(to left, #63a4b2, #53a9be);
  background: linear-gradient(to left, #63a4b2, #53a9be);
}
